.header-main {
    display: grid;
    &__logo {
        order: 2;
        justify-self: center;
    }
    .wrap {
        background-color: $basic-black;
        .nav {
            display: grid;
            grid-template-columns: 1fr min-content;
        }
    }

}
