.best  {
    margin-bottom: 80px;
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0;
        padding: 0;
    }
    &__item{
        text-align: center;
        outline-offset: 1px;
        h3 {
            font-size: 30px;
            line-height: 42px;
        }
        p {
            margin: 30px;
        }
    }
}
