:root {
    font-family: "PTSansNarrow",sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    // @media (max-width: (400px)) {
    //     font-size: 0.8rem;
    // }
    box-sizing: border-box;
}
.page {
    height: 100%;
}
.body-page {
    display: grid;
    grid-template-rows:
    max-content
    1fr
    max-content
    max-content
    max-content
    ;
    min-height: 100%;
    min-width: 960px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: $basic-white;
    background-color: $basic-black;
    background-position: top center;
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: $basic-white;
}
img {
    // warn
    max-width: 100%;
    height: auto;
}
ul {
    list-style:none;
}
