// $color-backgr_logo: #f7f8f7;
$basic-black: #000000;
$basic-extra-dark: #242424;
$basic-dark: #aba9a7;
$basic-neytral: #e5e5e5;
$basic-estra-light: #f8f5f2;
$basic-white: #ffffff;

$special: #663d15;
